
    <h1>Mi perfil</h1>
    <ul>
        <li>Nombre: <span id="spanNombre"></span></li>
        <li>Apellido: <span id="spanApellido"></span></li>
        <li>Correo electrónico: <span id="spanEmail"></span></li>
        <li>Rol: <span id="spanRol"></span></li>
    </ul>
    <a href="/edit">Editar mis datos</a>

    <h2>Mi carrito:</h2>
    <div id="productos-carrito"></div>

    <script src="/static/js/profile.js"></script>
